
    <!DOCTYPE HTML>
    <html>
        <head>
            <meta charset="UTF-8">
                <title>Class315</title>
                <link rel="stylesheet" href="css/header-nav.css"></head>
                <body>
                    <div id="clothes">
                        <ul class="category" style="height: 33px; margin: 0; padding: 0; bottom: 13px; position: relative; left: 5px;">
                            <li class="category">
                                <a href="cafeteria.html" class="link">
                                    <b>급식</b>
                                </a>
                            </li>
                            <li class="category">
                                <a href="outerwear.html" class="link">
                                    <b>시간표</b>
                                </a>
                            </li>
                            <li class="category">
                                <a href="outerwear.html" class="link">
                                    <b>공지사항</b>
                                </a>
                            </li>
                            <li class="category">
                                <a href="outerwear.html" class="link">
                                    <b>Example</b>
                                </a>
                            </li>
                        </ul>
                    </div>
                </body>
            </html>