<style>
.after {
    display: none;
}
</style>
<link rel="stylesheet" href="Section.css">
<section>
    <div id="itemH">
        <h2>공지사항</h2>
        <!--- <div class="item"> <ul> <li> <img src="img/image5.jpg" style="width:50%;
        float: left;"> </li> <li> <img src="img/image2.jpg" style="width:50%; float:
        right;"> </li> <li> <img src="img/image3.jpg" style="width:50%; float: right;">
        </li> <li> <img src="img/image4.jpg" style="width:50%; float: left;"> </li>
        </ul> </div>-->
    </section>